/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(186, 196, 228);
}

header {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: rgba(35, 65, 120, 0.85);
}

.logo {
  width: 40%;
  height: 200%;
  color: white;
  border-radius: 10px;
  font-size: larger;
  font-style: normal;
  align-content: center;
}

.logo h1 {
  color: #ffffff;
  transition: all 0.3s ease 0s;
}

.logo:hover h1 {
  color: #5a92c8;
}

main {
  flex: 1;
  width: 99%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.linhaSuperior {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 3%;
}

.linhaSuperior1 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.esquerdaSuperior {
  display: flex;
  width: 46%;
  height: 635px;
  background-color: rgb(240, 240, 240);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 3%;
}

.escritaFilhos {
  background-color: rgb(240, 240, 240);
  width: 65%;
  height: 85%;
  color: #000000;
}

.esquerdaPrincipal {
  background-color: #9b2121;
  width: 85%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex-wrap: wrap;
}

.imgPrincipal {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.escritaPrincipal {
  color: #000000;
  background-color: rgb(240, 240, 240);
  width: 90%;
  height: 10%;
  padding-left: 25%;
  font-size: larger;
}

.escritaPrincipal1 {
  text-align: center;
  margin-top: 15px;
  color: #000000;
  background-color: rgb(240, 240, 240);
  width: 90%;
  height: 10%;
  font-size: larger;
}

.atalhosVolumes {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(35, 65, 120, 0.85);
  height: auto;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.fakeimg {
  width: 68%;
  height: 40%;
  border-radius: 10px;
}

.fakeimg img {
  width: 100%;
  border-radius: 10px;
}

.fakeimgEspecial {
  width: 550px;
  height: 60%;
  border-radius: 10px;
  background-color: #000000;
}

.fakeimgEspecial img {
  width: 95%;
  border-radius: 10px;
}

.tabeladaFigura {
  width: 70%;
  background-color: rgb(240, 240, 240);
  height: 610px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
}

.valores {
  width: 20%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  font-size: larger;
}

.formulas {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(35, 65, 120, 0.85);
}

.formulaImagem {
  background-color: rgb(0, 0, 0);
  width: 90%;
  height: 90%;
  border-radius: 10px;
}

.resultados {
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.resultadosPontas {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.fundoResultados:hover {
  transform: scale(1.02);
  background-color: #5a92c8;
}

.fundoResultados {
  background-color: rgba(35, 65, 120, 0.85);
  width: 30%;
  height: 40%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s ease-in-out;
  color: white;
}

.fundoResultadosPontas {
  background-color: rgba(35, 65, 120, 0.85);
  width: 30%;
  height: 40%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s ease-in-out;
  color: white;
}

.ordemResultado {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
